<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글_룸메찾기</title>
</head>
<body>
    룸메 찾기 <br>
    <hr style="border:solid 1px black;">
    <img src="" alt=""><br> <!--db에서 이미지 가져오기-->
    주소 <!-- db에서 가져올것-->
    <!--카카오 지도 API 연결 할것-->
    내용 <br>
    <!-- db에서 게시글의 내용 부분을 뽑기-->
     월세 <!--db.rent--><br>
     관리비<!-- DB 업데이트가 필요해요!! --><br>
     집의 형태<!--db 업데이트!!!!!!!!!--><br>
     mbti <!--db에서 불러올것 --><br>
     생활패턴 <!--db에서 불러올것 --><br>
     흡연여부<!--bd.smokeYn --><br>
     반려동물여부<!-- db.petYn--><br>
     
    글쓴이 정보<!--db에서 가져올 것--> <br>

    댓글<input type="text" name="comment" id="#" placeholder="댓글작성">
    <hr style="border:solid 1px black;">
    댓글리스트 1 좋군요!!   <button onclick="increase()">♡</button>   ♡<span id='num'>0</span><br> 
    댓글리스트 2 좋군요!!   <button onclick="increase()">♡</button>   ♡<span id='num'>0</span><br> 
    댓글리스트 3 좋군요!!   <button onclick="increase()">♡</button>   ♡<span id='num'>0</span><br> 
    
  
</body>
</html>