<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>boardWrite</title>
</head>
<body>
    게시글 작성 <br>
    <select name="b_type" >
        <option>게시판선택</option>
        <option>룸메찾기</option>
        <option>방찾기</option>
        <input type="text" name="b_title" placeholder="제목을 입력하세요."><br>
        월세  <input type="text" name="rent"><br>
        관리비 <input type="text" name="#"><br>
        집의 형태<input type="text" name="#"><br>
        mbti <!--db에서 불러올것 -->
        생활패턴 아침형<input type="radio" name="life_pattern"> 저녁형 <input type="radio" name="life_pattern"><br>
        흡연 여부 여<input type="radio" name="smoke_yn"> 부<input type="radio" name="smoke_yn"><br>
        애완동물여부 있음<input type="radio" name="pet_yn"> 없음<input type="radio" name="pet_yn"><br>
        내용<br>
        <textarea name="b_content" cols="50" rows="10">
            
        </textarea><br>
        임대차계약서첨부 <input type="image"> <br>
        <button> 작성완료 </button>


</body>
</html>