<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>룸메찾기_메인화면</title>
    <link rel="stylesheet" href="./main.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
    

    <div class="container">

        <div class="write">
            <div class="write-icon"><a href="/board/new"><i class="fa-solid fa-pen-to-square fa-xl" ></i></a></div>
            <!-- <div class="nav-label"></div> -->
        </div>



       <div id="mainTitle"> 룸메 있어¿?</div>

        <!-- [UserController]  login() => session.setAttribute("loginEmail", loginResult.getUserEmail());-->
        
        <div class="box-tf">    
            <input type="text" class="tf-search" placeholder=" ">
            <i class="fa-solid fa-magnifying-glass icon-search"></i>
        </div>

<!-- 룸메찾기/ 방찾기 탭메뉴  -->
<div class="tab">
    <ul class="tabnav">
      <li><a href="#tab01">룸메찾기</a></li>
      <li><a href="#tab02">방찾기</a></li>
    </ul>
    <div class="tabcontent">
    <!-- 룸메이트 탭탭 -->
      <div id="tab01">
        <div class="roommate-list">
            <!-- 룸메이트 카드 1 -->
            <div class="roommate-card">
                <div class="profile-img"></div>
                <div class="roommate-info">
                    <div class="roommate-name">이렇게는 못살아</div>
                    <div class="roommate-tags">
                        <span class="tag" >전라남도 목포시 중앙하이츠 </span><br>
                        <span class="tag">예산 80만원/월월 </span>
                    
                    </div>
                    
                </div>
            </div>
        
        
            <div class="roommate-card">
                <div class="profile-img"></div>
                <div class="roommate-info">
                    <div class="roommate-name">개미는뚠뚠오늘도</div>
                    <div class="roommate-tags">
                        <span class="tag">만 27세 </span><br>
                        <span class="tag">예산 300~350만원 </span><br>
                        <span class="tag">서울시 강남구</span>
                    
                    </div>
                    
                </div>
            </div>

        </div>
        

      </div>

<!-- 방찾기 탭-->
    <div id="tab02"> 

        <div class="roommate-card">
            <div class="profile-img"></div>
            <div class="roommate-info">
                <div class="roommate-name">퐈이아아</div>
                <div class="roommate-tags">
                    <span class="tag">목포시청부근 풀옵션션 </span><br>
                    <span class="tag">월세 40만원 </span><br>
                    
                </div>
                
            </div>
        </div>



    </div>

      
    </div>
  </div>



        <!-- session 값 확인: <p th:text="${session.loginEmail}"></p><br>
        <a href="/user/mypage">마이페이지 이동하기</a> -->
        

    
    

<!-- 순서대로 -->
<!-- 하단 네비게이션 -->
<nav class="bottom-nav">
    <div class="nav-item active">
        <div class="nav-icon" ><a href="#"><i class="fa-solid fa-house"></i></a></div>
        
        <!-- <div class="nav-label"></div> -->
    </div>
    <div class="nav-item">
        <div class="nav-icon"><a href="/board/search"><i class="fa-solid fa-magnifying-glass"></i></a></div>
        
    </div>
    <div class="nav-item">
        <div class="nav-icon"><a href="#"><i class="fa-solid fa-envelope"></i></a></div>
        <!-- <div class="nav-label"></div> -->
    </div>

    <div class="nav-item">
        <div class="nav-icon"><a href="#"><i class="fa-solid fa-bell"></i></a></div>
        <!-- <div class="nav-label"></div> -->
    </div>
    
    <div class="nav-item">
        <div class="nav-icon"><a href="#"><i class="fa-solid fa-user"></i></a></div>
        <!-- <div class="nav-label"></div> -->
    </div>
</nav>

<!-- 플로팅 버튼 -->
<div class="cta-button"><i class="fa-solid fa-arrow-up"></i></div>
</div>
</div>






<script>

$(function(){
  $('.tabcontent > div').hide();
  $('.tabnav a').click(function () {
    $('.tabcontent > div').hide().filter(this.hash).fadeIn();
    $('.tabnav a').removeClass('active');
    $(this).addClass('active');
    return false;
  }).filter(':eq(1)').click();
  });
</script>


</body>
</html>