<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>룸메찾기_메인화면</title>
</head>
<body>
    룸메 있어?<br>
    <!-- [UserController]  login() => session.setAttribute("loginEmail", loginResult.getUserEmail());-->
    session 값 확인: <p th:text="${session.loginEmail}"></p>
    <a href="/user/mypage">마이페이지</a><br>
    <input type="text" name="search" placeholder="검색어를 입력하세요."><br>

룸메 찾기 / 방찾기 
<!--게시판 db에서 가지고 옴-->


</body>
</html>