<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>내 정보 수정</title>
</head>
<body>
<form action="/mypage/update" method="post">
<!-- type="hidden" 사용자에게 보이지않음 					readonly 말그대로 읽기 전용 -->
  <input type="hidden" th:value="${updateUser.idx}" name="idx"><br>
  이메일: <input type="text" th:value="${updateUser.userEmail}" name="userEmail" readonly> <br>
  비밀번호: <input type="text" th:value="${updateUser.userPassword}" name="userPassword"> <br>
  이름: <input type="text" th:value="${updateUser.userName}" name="userName"> <br>
  <input type="submit" value="정보수정">
</form>
</body>
</html>