<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>알람</title>
   
   <!-- <style>
    .profile-img {
            width: 80px;
            height: 80px;
            background-color: #f1f1f1;
            border-radius: 4px;
            margin-right: 15px;
            flex-shrink: 0;
        }

        
    </style> -->

</head>
<body>
    활동 <br>
    카테고리 | 좋아요 | 댓글 | 리포스트 <br>
       

    <div class="roommate-card">
        <div class="profile-img"></div>
        <div class="roommate-info">
            <div class="roommate-name">이렇게문을환현희</div>
            <div class="roommate-tags"> 회원님의 글을 좋아합니다</div>
       </div>  
    </div>  <br>


    까까보까 원장<br> 
    회원님의 댓글에 좋아요 <br> <br>

    마음은언제나청춘 <br> 
    회원님의 글에 댓글을 달았습니다.  <br> 
    저는 10월에 이사 예정인데 그쪽 동네 분위기는 어떤가요? <br> <br> 

    하단메뉴바 <br> 
    
    
</body>
</html>