<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글_방찾기</title>
</head>
<style>
.profile-img {
            width: 80px;
            height: 80px;
            background-color: #f1f1f1;
            border-radius: 4px;
            margin-right: 15px;
            flex-shrink: 0;
        }

</style>
<body>
    방구해요<br>
    <div class="profile-img"></div>
    
    게시글의 내용을 옮겨오자! <br> 
    반려동물 여부 <br>
    흡연여부 <br>
    예산 <br> 
    mbti<br>
    생활패턴<br> 
    
    

    댓글<input type="text" name="comment" id="#" placeholder="댓글작성">
    <hr style="border:solid 1px black;">
    댓글리스트 1 좋군요!!    <button onclick="increase()">♡</button>   ♡<span id='num'>0</span><br> 
    댓글리스트 2 좋군요!!   <button onclick="increase()">♡</button>   ♡<span id='num'>0</span><br> 
    댓글리스트 3 좋군요!!   <button onclick="increase()">♡</button>   ♡<span id='num'>0</span><br> 
    


</body>
</html>