body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.container {
    width: 360px;
    min-height: 740px;
    text-align: center;
    margin: 20px auto;
    border: 1px solid black;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content {
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

#index_title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
    padding: 50px 0 30px 0; /* 패딩 조정 */
    margin: 20px;
}

#userEmail, #userPw {
    width: 100%;
    max-width: 300px;
    padding: 7px 10px;
    border-color: lightgray;
    border-radius: 5px;
    margin: 0 auto 12px auto;
    box-sizing: border-box;
    display: block;
}

#userPw {
    margin-bottom: 20px;
}

table {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
}

#btn_login {
    width: 100%;
    max-width: 300px;
    height: 35px;
    padding: 4px 10px;
    background-color: black;
    color: white;
    margin: 0 auto 10px auto;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    display: block;
}

#findUser {
    font-weight: bold;
    font-size: 15px;
    color: black;
}

#icon-join {
    border-left: 3px solid;
    border-color: rgb(224, 223, 223);
    color: black;
    font-weight: bold;
    font-size: 15px;
}