<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>게시글 상세</title>
</head>
<body>
    <h1 th:text="${board.bTitle}">게시글 제목</h1>
    <p th:text="${board.bContent}">게시글 내용</p>
    <p>작성자: <span th:text="${board.bwriter}"></span></p>
    <p>조회수: <span th:text="${board.bViews}"></span></p>
    <p>좋아요: <span th:text="${board.bLikes}"></span></p>
    <a th:href="@{/boards/{bIdx}/edit(bIdx=${board.bIdx})}">수정</a>
    <form th:action="@{/boards/{bIdx}/delete(bIdx=${board.bIdx})}" method="post">
        <input type="hidden" name="userEmail" th:value="${board.bwriter}">
        <button type="submit">삭제</button>
    </form>
</body>
</html>